.AddPost {
    gap: 15px;
    width: 100%;
    display: grid;
    padding: 1%;
    height: 75.5%;
    overflow: scroll;
    grid-template-columns: 1fr;
    background-color: rgb(0, 19, 30);
}
.addContainer {
    gap: 25px;
    width: 100%;
    display: grid;
    padding: 3px;
    color: #fff;
    height: max-content;
    border-radius: 5px;
    background-color: rgba(221, 7, 7, 0.786);
}
.reviewContainer {
    gap: 5%;
    width: 60%;
    padding:  4px 0;
    height: 45.3%;
    display: flex;
    color: #000;
    border-radius: 3px;
    align-items: center;
    justify-content: space-between;
    background-color: #dedede;
}
.reviewContainer div {
    display: flex;
}
.viewBody {
  padding: 1px; 
  width: 100%; 
}
.addText {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.privasi {
    gap: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.privasi select {
    border-radius: 0;
}
.addBody {
    height: max-content;
}
.addBody form {
    gap: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.isi input {
    width: 90%;
    border: 1px solid #848484;
    outline: none;
    border-radius: 5px;
    padding: 8px;
}
.isi {
    gap: 5px;
    display: flex;
    flex-direction: column;
}
.cate {
    gap: 5px;
    display: flex;
    flex-direction: column;
}
select {
    width: 80px;
    cursor: pointer;
    outline: none;
    border: none;
    padding-left: 3px;
    border-radius: 0;
}
.addBody button {
    height: 30px;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    background-color: #9b9b9b;
}
.addFile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.addFile label {
    display: flex;
    padding: 2px 0;
    align-items: center;
    border-radius: 4px;
    background-color: #848484;
}
.addFile label:hover {
    background-color: orange;
}
.addFile input {
    display: none;
}
.addBody button:hover {
    color: white;
    background-color: orange;
}
.reviewPdf {
    gap: 10px;
    width: 80%;
    padding: 2px;
    display: flex;
    color: #000;
    border-radius: 3px;
    overflow-x: scroll;
    align-items: center;
    background-color: #eaeaea;
}
.reviewImg {
    gap: 10px;
    padding: 2px;
    display: flex;
    color: #000;
    width: max-content;
    align-items: center;
    background-color: #eaeaea;
}
.reviewPdf span,.reviewImg span {
    width: 20px;
    height: 20px;
    border: none;
    display: flex;
    padding: 2px;
    color: black;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: #b1b1b1;
}
.reviewPdf img {
    width: 40px;
    max-height: 90px;
    border-radius: 5px;
}
.reviewImg img {
    width: 43px;
    height: 43px;
    border-radius: 5px;
}
.reviewPdf svg {
    cursor: pointer;
}
svg {
    cursor: pointer;
}
.error {
    gap: 5px;
    display: flex;
    align-items: center;
}
.error h3 {
    color: orange;
}
.error svg {
    color: orange;
}

@media (max-width: 345px) {
    .AddPost {
        font-size: .6rem;
        margin-top: 3px;
        grid-template-columns: 1fr;
    }
    .isi input {
        height: 28px;
    }
    .reviewContainer  {
        gap: 5px;
        width: 80%;
        margin-top: 15px;
        overflow-x: scroll;
    }
    .reviewContainer svg {
        width: 16px;
    }
    .reviewContainer div {
        display: flex;
        align-items: center;
    }
    .addFile label {
        padding: 0;
        margin-top: 15px;
    }
    .addFile label svg {
        width: 19px;
    }
}