.alert {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 6;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}
.success img {
    width: 23px;
    height: 23px;
}
.success,.err {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.success {
    gap: 15px;
    width: 25%;
    height: 12%;
    display: flex;
    color: green;
    border-radius: 5px;
    border: 2px solid green;
    background-color: #eaeaea;
}
.err {
    width: 25%;
    height: 12%;
    color: red;
    border-radius: 5px;
    border: 2px solid red;
    background-color: #eaeaea;
}

@media (max-width: 950px) {
    .success,.err {
        width: 50%;
    }
}

@media (max-width: 345px) {
    .success {
        height: 9%;
        font-size: .6rem;
    }
    .err {
        height: 9%;
        font-size: .6rem;
    }
    .success img {
        width: 20px;
        height: 20px;
    }
}