.alert {
    gap: 5px;
    z-index: 6;
    width: 50%;
    color: #000;
    display: flex;
    margin-top: 19%;
    margin-left: 25%;
    position: absolute;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
}
.success,.err {
    display: flex;
    padding: 5px ;
    text-align: center;
    flex-direction: column;
}
.success {
    width: 30%;
    height: 12%;
    display: flex;
    color: green;
    border-radius: 5px;
    border: 2px solid green;
    background-color: #ffffff;
}
.err {
    width: 30%;
    height: 12%;
    color: red;
    border-radius: 5px;
    border: 2px solid red;
    background-color: #eaeaea;
}
.success div,.err div {
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 345px) {
    .success {
        height: 9%;
        font-size: .5rem;
    }
    .err {
        height: 9%;
        font-size: .5rem;
    }
}