* {
    margin: 0;
    padding: 0;
    font-family: 'Poppin', cursive;
}
.loginContainer {
   display: flex;
   flex-direction: column;
}
.close {
  display: flex;
  justify-content: end;
}
.loginContainer .close svg {
    color: #fff;
    display: flex;
    padding: 9px;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
}
.loginContainer .close svg:hover {
    color: red;
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }