.commentContainer {
    gap: 5px;
    padding: 5px;
    display: flex;
    align-items: start;
    font-size: 60%;
    flex-direction: column;
}
.headComment {
    gap: 10px;
    display: flex;
    color: #000;
    width: 100%;
    margin-top: -14px;
    height: max-content;
}
.commentContainer .display {
    width: 100%;
    display: flex;
    max-height: 35vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 5px;
    flex-direction: column;
    background-color: #fff;
}
.commentContainer .display .Comment .bungkus {
    display: grid;
}
.commentContainer .Comment {
    width: 100%;
}
.bodyComment {
    width: 100%;
    color: #fff;
    margin-top: -15px;
    padding-left: 36px;
}
.bodyComment p {
    width: max-content;
    border-radius: 5px;
    background-color: orange;
}
.Comment button {
    width: 25px;
    height: 25px;
    display: flex;
    margin-right: 2px;
    border-radius: 50px;
    border: 1px solid #c4c4c4;
    justify-content: center;
}
.commentContainer .comment {
    gap: 5px;
    width: 100%;
    display: flex;
}
.commentContainer .comment input {
    width: 100%;
    height: 20px;
    outline: none;
    padding-left: 10px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}
.commentContainer .comment button {
    width: 35px;
    border: none;
    height: 30px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.commentContainer .comment button:hover {
    color: #fff;
    background-color: orange;
}

