.container {
    gap: 2px;
    width: 100%;
    display: grid;
    max-height: 270px;
    overflow-y: scroll;
    grid-template-columns: repeat(2,minmax(100px,1fr));
}
.display .posts {
    width: 185px;
    cursor: pointer;
    border-radius: 3px;
    border:2px solid #b0b0b0;
}
.display .dis-file embed {
    width: 180px;
}
.info {
    gap: 7px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.info div small {
    font-size: 70%;
}
.contain {
    display: flex;
    flex-direction: column;
}
.subs {
    gap: 5px;
    padding: 2px;
    display: flex;
    border-radius: 2px;
    align-items: center;
}
.subs:hover {
    cursor: pointer;
    background-color: #dddddd;
}
.subs button {
    width: 22px;
    height: 22px;
    border-radius: 50px;
}
.savehide {
    width: 100%;
}
.savehide button {
    width: 100%;
}
.savehide button:hover {
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: orange;
}

@media (max-width: 345px) {
    .display .posts {
        width: 120px;
    }
    .display .dis-file embed {
        width: 110px;
        height: 110px;
    } 
}