.load {
    gap: 5px;
    z-index: 6;
    color: #000;
    display: flex;
    margin-top: 19%;
    margin-left: 42%;
    position: absolute;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
}
.load img {
    width: 23px;
    height: 23px;
}
.load {
    gap: 10px;
    width: 15%;
    padding: 10px 0;
    display: flex;
    border-radius: 5px;
    justify-content: space-evenly;
    color: rgb(72, 73, 72);
    border: 2px solid rgb(72, 73, 72);
    background-color: #ffffff;
}

@media (max-width: 345px) {
    .load {
        width: 40%;
        height: 9%;
        font-size: .5rem;
    }
}