.Posts {
    gap: 10px;
    width: 100%;
    color: #fff;
    display: grid;
    padding: 5px 0 5px 7%;
    height: 72.8%;
    overflow-y: scroll;
    background-color: rgb(0, 19, 30);
    grid-template-columns: repeat(2,minmax(150px,1fr));
}
.card-post-pdf {
    position: relative;
    height: max-content;
    border: 2px solid #fff;
    background-color: rgba(221, 7, 7, 0.786);
}
.card-post-pdf {
    padding: 0 5px;
    cursor: pointer;
    border-radius: 7px;
    width: max-content;
    margin-bottom: 15px;
}
.post-file {
    padding: 3px;
    display: flex;
    position: relative;
    justify-content: center;
}
.post-file .revFile {
    width: 350px;
    height: 250px;
    display: flex;
    color: #000;
    overflow: hidden;
    padding-top: 25px;
    justify-content: space-between;
}
.post-file .revFileUnix {
    width: 350px;
    height: 250px;
    display: flex;
    color: #000;
    overflow: hidden;
    margin-top: 20px;
    padding-top: 25px;
    border-radius: 5px;
    justify-content: space-between;
}
.Posts .post-file .revFileUnix {
    margin-right: 30px;
}
.post-file .revFile embed {
    width: 350px;
    height: 280px;
    border-radius: 5px;
}
.post-file .revFileUnix embed {
    margin-top: -60px;
    width: 350px;
    height: 280px;
    border-radius: 5px;
}
.post-file svg {
    right: 5px;
    position: absolute;
}
.card-profile {
    text-align: center;
}
.card-profile button {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-top: -50px;
    border: 2px solid #bdbdbd;
}
.post-des {
    color: #000;
    margin-top: 3px;
    padding: 5px;
    border-radius: 5px;
    background-color: #eaeaea;
}
.response {
    gap: 15px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}
.response div {
    gap: 5px;
    display: flex;
}

@media (max-width: 345px) {
    .Posts {
        gap: 0;
        padding: 5px 2px 2px 5px;
        font-size: 0.5rem;
        grid-template-columns: repeat(1,minmax(100px,1fr)); 
    }
    .card-post-pdf {
        width: 100%;
    }
    .Posts .post-file .revFileUnix {
        margin-left: 24px;
    }
    .post-file .revFile,.post-file .revFileUnix {
        border-radius: 5px;
    }
    .card-profile button {
        width: 100px;
        height: 100px;
        margin-top: -60px;
    }
    .response div .hide {
        display: none;
    }
    .post-file .revFile embed {
        height: 300px;
        overflow: hidden;
        align-items: center;
    }
    .post-file .revFileUnix embed {
        height: 300px;
        overflow: hidden;
        align-items: center;
    }
}