.Search {
    width: 300px;
    color: #fff;
    margin-top: 74px;
    margin-left: 12.3%;
    position: absolute;
    max-height: 460%;
    overflow: scroll;
    background-color: rgb(0, 24, 38);
}
.searchResult {
    gap: 5px;
    display: flex;
    padding-right: 10px;
    align-items: center;
    justify-content: space-between;
}
.imgResult img {
    width: 60px;
    height: 70px;
}
.desResult {
    display: flex;
    flex-direction: column;
}
.resResult div{
    display: flex;
}
.searchResult:hover {
    cursor: pointer;
    color: #000;
    background-color: orange;
}
.not-found {
    gap: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
}
.not-found svg {
    color: yellow;
}

@media (max-width: 345px) {
    .Search {
        width: 180px;
        font-size: 0.5rem;
        margin-top: 65px;
        margin-left: 7.9%;
    }
    .imgResult img {
        width: 30px;
        height: 50px;
    }
    .resResult svg {
        width: 13px;
        height: 13px;
    }
}