.Setting {
    gap: 10px;
    top: 70px;
    z-index: 5;
    right: 10px;
    padding: 15px 13px;
    display: grid;
    border-radius: 5px;
    position: absolute;
    background-color: #fff;
    grid-template-areas: 'pic bio'
                         'save save'
                         'hide hide'
                         'dis dis'
                         'log log';
}
.Setting .bio .name {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}
.pic {
    grid-area: pic;
    padding: 5px;
    max-height: 115px;
    border-radius: 5px;
    background-color: rgb(0, 19, 30);
}
.dis {
    grid-area: dis;
}
.save {
    grid-area: save;
}
.hide {
    grid-area: hide;
}
.save,.hide {
    gap: 5px;
    padding: 2px;
    padding-left: 5px;
    display: flex;
    border-radius: 2px;
    align-items: center;
}
.Setting .pic button {
    border: none;
    color: #fff;
    padding: 30px 25px;
    background-color: rgb(0, 19, 30);
}
.Setting .bio {
    grid-area: bio;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.user-bio {
    gap: 7px;
    display: flex;
}
.user-bio div {
    gap: 10px;
    padding: 5px;
    display: flex;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #e0e0e0;
}
.user-bio div:hover {
    color: #fff;
    background-color: rgb(0, 19, 30);
}
.log {
    grid-area: log;
    gap: 10px;
    padding: 5px;
    color: #fff;
    display: flex;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: orange;
}
.log:hover {
    background-color: rgb(0, 19, 30);
}
.save:hover,.hide:hover {
    color: #fff;
    cursor: pointer;
    background-color: orange;
}
@media (max-width: 345px) {
    .Setting {
        right: 0;
        font-size: 0.5rem;
    } 
    .Setting .pic {
        max-height: 74px;
    }
    .Setting .pic button {
        padding: 15px 15px;
    } 
}